html {
  background-color: rgb(44, 44, 49);
}
body {
  padding: 10px 25px;
}
img {
  height: 45px;
}
.sort {
  position: fixed;
  top: 0px;
  width: 90%;
  background-color: rgb(44, 44, 49);
  padding: 20px 0px;
  padding-bottom: 33px;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.logo img {
  height: 100px;
}
.sort__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.sort__clothes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
.sort__clothes img {
  margin: 0px 15px;
}
.sort__colors {
  display: flex;
  width: 45%;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.color {
  padding: 10px;
  margin: 0px 8px;
}
.sort__colors :first-child {
  background-color: rgb(45, 134, 207);
}
.sort__colors :nth-child(2) {
  background-color: rgb(243, 173, 42);
}
.sort__colors :last-child {
  background-color: rgb(245, 94, 94);
}

.list {
  margin-top: 185px;
}
.clothes {
  display: flex;
  background-color: whitesmoke;
  border-radius: 3px;
  margin: 8px 0px;
  padding: 5px 15px;
}
.clothes .clothes__column:first-child {
  margin-right: 20px;
}
.clothes .clothes__column:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
